header
  padding: 15px
  background: azure
  nav a
    display: inline-block
    padding: 10px 15px
    background: aqua
    margin-right: 10px
    &:hover
      text-decoration: none
    &.active
      background: salmon
      text-decoration: none
.user
  display: inline-block
  vertical-align: top
  text-align: right
  .userAvatar
    border-radius: 50%
    width: 45px
    height: 45px
  .userHello
    color: #242424
    margin-left: 5px
.btnLog
  padding: 8px
  border: none
  border-radius: 3px
  cursor: pointer
  color: #242424
  margin-left: 10px